---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Font variables
$font-name: "Tiempos Text Web";
$font-path-file-name: {{ baseurl }}/matthewhicksnl/assets/fonts/TiemposTextWeb-Regular;

// font_name font
@font-face {
  font-family: $font-name;
  src: url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
       url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
}

// Our variables
$base-font-family: $font-name, Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: $font-name, Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$large-font-size: 19px;
$base-line-height: 1.778;

$spacing-unit:     30px;

$text-color:       #333333;
$background-color: #FFFFFF;
$brand-color:      #0B34FF;

$grey-color:       #333333;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$font-name-tiempos: "Tiempos Text Web";
$font-filepath-and-name: "assets/fonts/TiemposTextWeb-Regular";



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// @include embed-font("Tiempos Text Web", "assets/fonts/TiemposTextWeb-Regular");
// %icon-font {
//     font-family: "TiemposTextWeb-Regular";
// }

// @mixin embed-font($font-name-tiempos, $font-filepath-and-name){
//   @font-face {
//     font-family: $font-name-tiempos,
//     src: url(asset_path($font-filepath-and-name+".woff")) format('woff'), /* Modern Browsers */
//     src: url(asset_path($font-filepath-and-name+".woff2")) format('woff2'), /* Modern Browsers */
//     }
// }

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
