/**
 * Site header
 */
.site-header {
    border-bottom: 0px solid $grey-color-light;
    min-height: 56px;
    background-color: transparent;
    margin-top: 6rem;
    text-align: center;
    position: relative;
}

.site-title {
    font-size: 3.9375em;
    line-height: 40px;
    margin-bottom: 0;
    text-decoration: none;
    font-family: $header-font-family;

    &,
    &:visited, &:hover {
        color: #161616;
        text-decoration: none;

    }
}

.site-subtitle {
    direction: rtl;
}

.quote {
    text-align: center;
    margin: 32px;
    font-family: $font-name-quote;
}

.site-nav {
    line-height: 56px;
    font-size: 19px;
    font-family: $header-font-family;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #707070;
        text-decoration: none;
        line-height: $base-line-height;
        font-family: $header-page-links-font-family;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        } &:hover {
        color: #707070;
        text-decoration: underline;
    }
    }

    @include media-query($on-palm) {
        top: 9px;
        right: $spacing-unit / 2;
        background-color: #ffffff;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            // float: right;
            margin: 0 auto;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #161616;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: .5px solid #f8f8f8;
    padding: 20px 0;
    font-size: 14px;
    text-decoration: none;
    margin-top: 40px;
} .site-footer a {
    color: #a7a9ab;
    text-decoration: none;

    }

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0px;
    float: left;
    display: inline;
}

.social-media {
    list-style: none;
    margin-left: auto;
    display: flex;
} li {
    margin: 8px;
} li:first-child {
    margin-left: 0;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin-top: 20px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin-top: $spacing-unit + 10;

    > li:first-child {
        margin-top: 0px;
        margin-bottom: $spacing-unit * 2;
    }

    li {
        margin-top: $spacing-unit * 2 + 28;
        margin-bottom: $spacing-unit * 2;
    }

    strong {
        font-family: $title-font-family;
    }
}

.post-content strong {
    font-family: $title-font-family;
}

.post-meta {
    font-size: 84%;
    color: #6d7d8b;
    margin-bottom: 40px;
} .post-meta-front {

    margin-bottom: $spacing-unit;
}

.post-meta-front-page {
    font-size: 84%;
    color: #6d7d8b;
    text-align: center;

} .post-meta-front-front-page {

    margin-bottom: $spacing-unit;
}

.post-link {
    font-size: $base-font-size * 1.75;
}


/**
 * Posts
 */
.post-header {
    text-align: center;
    margin-top: 40px;
}

.post-title {
    text-align: center;
    font-family: $title-font-family;
    font-weight: 400;
    margin-bottom: 0;
}

.strong-emphasis {
    color: blue;
}


