@media screen and (max-width: 690px) {

    .site-title {
        font-size: 300%;
}
}

@media screen and (max-width: 560px) {

    .site-title {
        font-size: 240%;
}
}

@media screen and (max-width: 464px) {

    .site-title {
        font-size: 180%;
}
}
