@media screen and (max-width: 960px) {

    .site-title {
        font-size: 260%;
}
}

@media screen and (max-width: 560px) {

    .site-title {
        font-size: 200%;
}
}

@media screen and (max-width: 464px) {

    .site-title {
        font-size: 160%;
}
}

@media screen and (max-width: 400px) {

    .site-title {
        font-size: 120%;
}
}